<div fxLayout="column" fxLayoutAlign="space-between center">
    
    <!-- Fix style to match material design
         https://www.material.io/guidelines/patterns/errors.html#errors-incompatible-state-errors
         -->
    <mat-card style="background: red;" *ngIf="isErrorState">
        <mat-card-header>
            <mat-icon>error_outline</mat-icon>
            <mat-card-title>Error</mat-card-title>
            <mat-card-subtitle>{{errorMessage}}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <!--Remove and fix fxLayoutAlign-->
    <p></p>

    <mat-card>
        <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <div>
                <div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="space-between center" style="width:300px;">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <p class="savingLabel"></p>
                </div>          
                <div [hidden]="isLoading">
                    
                        <mat-input-container>
                            <input mdInput placeholder="Username" required formControlName="username">
                            <mat-error>Username is required</mat-error>
                        </mat-input-container>

                        <mat-input-container>
                            <input type="password" mdInput required placeholder="Password" formControlName="password"> 
                            <mat-error>Password is required</mat-error>
                        </mat-input-container>
                    
                </div>
            </div>
        </mat-card-content>
        <!--<mat-divider></mat-divider>-->
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Login</button>
            <button mat-raised-button color="accent" router-link="['/signup']">Register</button>
        </mat-card-actions>
        </form>
    </mat-card>
</div>