.score-table {
    border-collapse: collapse;
    width: 50%;
    table-layout: fixed;
}

.periodTime {
    font-weight: bold;
}

.score-table th {
    font-weight: bold;
}


.score-table td {
    padding: 5px;
    text-align: left;
}

.game-date-label {
    font-weight: bold;
}