<td-steps mode='horizontal' (stepChange)="onStepChanged($event)">
  <td-step #step1 label="Join Grid" sublabel="" [active]="isStep1Active" [disabled]="!isStep1Active" [state]="step1State">
    <div fxLayout="row">
        <md-card>
            <md-card-title>Start a Grid</md-card-title>
            <md-card-content>
                <p>Setup a brand new grid that you can invite your friends to participate in</p>
                <div td-step-actions>
                <button md-raised-button color="accent" (click)="loadNewGame()" >New</button>                        

                </div>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-title>Join a Grid</md-card-title>
            <md-card-content>
                <p>Find a grid to join that has available squares</p>
                <div td-step-actions>
                    <button md-raised-button color="accent" (click)="loadNewGame()" >Join</button>
                    <button md-raised-button color="accent" (click)="loadNewGame()" >Join Existing</button>
                </div>
            </md-card-content>
        </md-card>    
    </div>
  </td-step>
  <td-step #step2 [active]="isStep2Active" [disabled]="!isStep2Active" [state]="step2State"
  label="step2Label" >
    This step is required!
  </td-step>
  <td-step #step3 label="Squares" [active]="isStep3Active" [disabled]="!isStep3Active" [state]="step3State">
    Mark this step complete and get a summary
    
  </td-step>
</td-steps>



<!--<div class="row" *ngIf="is_initial_row_visible">
    <div class="col-sm-4">
        
        
    </div>
    <div class="col-sm-4">
        <div class="card card-block">
            <h3 class='card-title'>Join Public</h3>
            <p class='card-text'></p>
            <a [routerLink]="['/games']"><button type='button' class='btn btn-info'>Join</button></a>                        
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card card-block">
            <div class="form-group row">
            <div class="col-xs-12"><h3 class='card-title'>Join Private</h3></div>
            </div>
            <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">Gridiron ID</label>
            <div class="col-xs-8"><input class="form-control" type="text" value="" id="game-id-input"></div>
            </div>
            <div class="form-group row " style="Display: none;">
            <div class="col-xs-4 col-form-label">Game</div>
            <div class="col-xs-8"></div>
            </div>
            <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">Password</label>
            <div class="col-xs-8"><input class="form-control" type="password" value="" id="game-id-input"></div>
            </div>
            <div class="form-group row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8"><button type='button' class='btn btn-primary'>Join</button></div>
            </div>
        </div>
        </div>    
</div>

<div class="row" *ngIf="is_new_game_visibile">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card card-block">
            <div class="form-group row">
            <div class="col-xs-12"><h3 class='card-title'>New Gridiron Game</h3></div>
            </div>
            <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">Game</label>
            <div class="col-xs-8"><p></p></div>
            </div>
            <div class="form-group row " style="Display: none;">
            <div class="col-xs-4 col-form-label">Game</div>
            <div class="col-xs-8">
                <p>{{game.home_team.location}} vs {{game.away_team.location></p>
                <p>{{game.home_team.location}} vs {{game.away_team.location></p>            
            </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-xs-4 col-form-label">Password</label>
                <div class="col-xs-8"><input class="form-control" type="input" value="" id="sqgame-pwd-input"></div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-xs-4 col-form-label">Max Squares/Person</label>
                <div class="col-xs-8"><input class="form-control" type="input" value="" id="sqgame-maxsq-input"></div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-xs-4 col-form-label">Notes</label>
                <div class="col-xs-8"><input class="form-control" type="input" value="" id="sqgame-notes-input"></div>
            </div>
            <div class="form-group row">
            <div class="col-xs-4"></div>
            <div class="col-xs-8"><button type='button' class='btn btn-primary'>Create</button></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3"></div>    
</div>-->