    <div fxLayout="row">
        <md-card>
            <md-card-title>Start a Grid Iron Game</md-card-title>
            <md-card-content>
                <div td-step-actions>
                    Setup a brand new Grid Iron game that you can invite your friends to participate in
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent" (click)="joinGame(1,false)" >New</button>                        
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-title>Join a GridIron Game</md-card-title>
            <md-card-content>
                <div td-step-actions>
                    Find a grid to join that has available squares
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent" (click)="joinGame(1,true)">Join</button>
            </md-card-actions>
        </md-card>    
    </div>
    <div fxLayout="row" *ngIf="isNewGridVisible">
        <md-card>
                <form novalidate [formGroup]="setupGridGameForm" (ngSubmit)="joinGame(2,false)">
                    <md-card-title-group>
                        <md-card-title>New Grid Game</md-card-title>
                        <md-card-subtitle>
                            <span *ngIf="game != undefined && game != null">{{game?.homeTeam.location}} @ {{game?.awayTeam.location}} <br/>{{game.gameDate | date : 'shortDate'}}</span></md-card-subtitle>
                    </md-card-title-group>
                    <md-card-content>
                        <div>
                            
                                <div layout="row">
                                    <md-input-container>
                                        <input mdInput placeholder="GridIron Name" required formControlName="name" autocomplete="off">
                                        <md-error>{{formErrors['name']}}</md-error>
                                    </md-input-container>
                                </div>
                                <div>
                                    <md-input-container>
                                        <input type="password" mdInput required placeholder="Password" formControlName="password"> 
                                        <md-error>{{formErrors['password']}}</md-error>
                                    </md-input-container>
                                    <md-input-container>
                                        <input type="password" mdInput required placeholder="Confirm Password" formControlName="passwordConfirm"> 
                                        <md-error>{{formErrors['passwordConfirm']}}</md-error>
                                    </md-input-container>
                                </div>
                                <!--<div>
                                    <md-input-container>
                                        <input mdInput placeholder="Setup fee" required formControlName="fee"  autocomplete="off">
                                        <md-error>{{formErrors['fee']}}</md-error>
                                    </md-input-container>
                                </div>-->                
                        </div>
                    </md-card-content>
                    <md-card-actions>
                        <button md-raised-button color="accent" type="submit" [disabled]="!setupGridGameForm.valid">Continue</button>
                    </md-card-actions>
                </form>
            </md-card>
    </div>
    <div fxLayout="row" *ngIf="isJoinGridVisible">
        <md-card>
            <form novalidate [formGroup]="joinGridIronGameForm" (ngSubmit)="joinGame(2,true)">
                <md-card-title-group>
                    <md-card-title>Join GridIron Game</md-card-title>
                    <md-card-subtitle>
                        <span *ngIf="game != undefined && game != null">{{game?.homeTeam.location}} @ {{game?.awayTeam.location}} <br/>{{game.gameDate | date : 'shortDate'}}</span></md-card-subtitle>
                </md-card-title-group>        
                <md-card-content>
                    <div>
                        
                            <div layout="row">
                                <md-input-container>
                                    <input mdInput placeholder="GridIron ID" required formControlName="gridIronGameId" autocomplete="off">
                                    <md-error>{{formErrors['gridIronGameId']}}</md-error>
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container>
                                    <input type="password" mdInput required placeholder="Password" formControlName="joinPassword"> 
                                    <md-error>{{formErrors['joinPassword']}}</md-error>
                                </md-input-container>
                            </div>
                        
                    </div>
                </md-card-content>
                <md-card-actions>
                    <button md-raised-button color="accent" type="submit">Join</button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
    <div fxLayout="row">
        <md-card>
            <md-card-title-group>
                <md-card-title>How many squares?</md-card-title>
                <md-card-subtitle>
                    <span *ngIf="game != undefined && game != null">{{game?.homeTeam.location}} @ {{game?.awayTeam.location}} <br/>{{game.gameDate | date : 'shortDate'}}</span></md-card-subtitle>
            </md-card-title-group>
            
            <md-card-content>
                <div>
                    <span>Seleted Squares:</span>
                    <span>{{selectedSquareSlide.value}}</span>
                </div>
                <div>
                    <md-slider #selectedSquareSlide
                        [max]="maxSquaresAvailable"
                        [min]="1"
                        [step]="1"
                        [thumb-label]="true"
                        [value]="selectedSquares">
                    </md-slider>
                    <span>{{maxSquaresAvailable}}</span>
                </div>
            </md-card-content>
            <md-card-actions>
                <button md-raised-button color="accent" (click)="joinGame(3)">Register</button>
            </md-card-actions>
        </md-card>
    </div>

    <div>
        <md-card *ngIf="isSaving">
            <md-card-content>
                <div layout="column" layout-align="center center">
                    <h3>Saving...</h3>
                    <md-progress-bar mode="indeterminate"></md-progress-bar>
                </div>            
            </md-card-content>
        </md-card>

        <md-card *ngIf="!isSaving">
            <md-card-title-group>
                <md-card-title>Share</md-card-title>            
            </md-card-title-group>
            
            <md-card-content>
                <div>
                        <h4>Email Friends</h4>
                        <form novalidate [formGroup]="joinGridIronGameForm" (ngSubmit)="joinGame(2,true)">
                            <md-input-container>
                                <input mdInput placeholder="Email Address" required autocomplete="off">
                            </md-input-container>
                        </form>
                        <div>
                            <button md-raised-button color='primary'>Email</button>
                            <button md-raised-button color="accent">Copy Link</button>
                        </div>
                </div>
            </md-card-content>
        </md-card>
    </div> 