/*.mat-slider-thumb {
  cursor: -webkit-grab !important;
}

.mat-slider-thumb-label {
  cursor: -webkit-grab !important;
}*/

.input-container {
    width: 100%;
}

.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 80%;
}