    <div fxLayout="row">
        <mat-card>
            <mat-card-title>Start a Grid Iron Game</mat-card-title>
            <mat-card-content>
                <div td-step-actions>
                    Setup a brand new Grid Iron game that you can invite your friends to participate in
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="joinGame(1,false)" >New</button>                        
            </mat-card-actions>
        </mat-card>
        <mat-card>
            <mat-card-title>Join a GridIron Game</mat-card-title>
            <mat-card-content>
                <div td-step-actions>
                    Find a grid to join that has available squares
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="joinGame(1,true)">Join</button>
            </mat-card-actions>
        </mat-card>    
    </div>
    <div fxLayout="row" *ngIf="isNewGridVisible">
        <mat-card>
                <form novalidate [formGroup]="setupGridGameForm" (ngSubmit)="joinGame(2,false)">
                    <mat-card-title-group>
                        <mat-card-title>New Grid Game</mat-card-title>
                        <mat-card-subtitle>
                            <span *ngIf="game != undefined && game != null">{{game?.homeTeam.location}} @ {{game?.awayTeam.location}} <br/>{{game.gameDate | date : 'shortDate'}}</span></mat-card-subtitle>
                    </mat-card-title-group>
                    <mat-card-content>
                        <div>
                            
                                <div layout="row">
                                    <mat-input-container>
                                        <input mdInput placeholder="GridIron Name" required formControlName="name" autocomplete="off">
                                        <mat-error>{{formErrors['name']}}</mat-error>
                                    </mat-input-container>
                                </div>
                                <div>
                                    <mat-input-container>
                                        <input type="password" mdInput required placeholder="Password" formControlName="password"> 
                                        <mat-error>{{formErrors['password']}}</mat-error>
                                    </mat-input-container>
                                    <mat-input-container>
                                        <input type="password" mdInput required placeholder="Confirm Password" formControlName="passwordConfirm"> 
                                        <mat-error>{{formErrors['passwordConfirm']}}</mat-error>
                                    </mat-input-container>
                                </div>
                                <!--<div>
                                    <mat-input-container>
                                        <input mdInput placeholder="Setup fee" required formControlName="fee"  autocomplete="off">
                                        <mat-error>{{formErrors['fee']}}</mat-error>
                                    </mat-input-container>
                                </div>-->                
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" type="submit" [disabled]="!setupGridGameForm.valid">Continue</button>
                    </mat-card-actions>
                </form>
            </mat-card>
    </div>
    <div fxLayout="row" *ngIf="isJoinGridVisible">
        <mat-card>
            <form novalidate [formGroup]="joinGridIronGameForm" (ngSubmit)="joinGame(2,true)">
                <mat-card-title-group>
                    <mat-card-title>Join GridIron Game</mat-card-title>
                    <mat-card-subtitle>
                        <span *ngIf="game != undefined && game != null">{{game?.homeTeam.location}} @ {{game?.awayTeam.location}} <br/>{{game.gameDate | date : 'shortDate'}}</span></mat-card-subtitle>
                </mat-card-title-group>        
                <mat-card-content>
                    <div>
                        
                            <div layout="row">
                                <mat-input-container>
                                    <input mdInput placeholder="GridIron ID" required formControlName="gridIronGameId" autocomplete="off">
                                    <mat-error>{{formErrors['gridIronGameId']}}</mat-error>
                                </mat-input-container>
                            </div>
                            <div>
                                <mat-input-container>
                                    <input type="password" mdInput required placeholder="Password" formControlName="joinPassword"> 
                                    <mat-error>{{formErrors['joinPassword']}}</mat-error>
                                </mat-input-container>
                            </div>
                        
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" type="submit">Join</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
    <div fxLayout="row">
        <mat-card>
            <mat-card-title-group>
                <mat-card-title>How many squares?</mat-card-title>
                <mat-card-subtitle>
                    <span *ngIf="game != undefined && game != null">{{game?.homeTeam.location}} @ {{game?.awayTeam.location}} <br/>{{game.gameDate | date : 'shortDate'}}</span></mat-card-subtitle>
            </mat-card-title-group>
            
            <mat-card-content>
                <div>
                    <span>Seleted Squares:</span>
                    <span>{{selectedSquareSlide.value}}</span>
                </div>
                <div>
                    <mat-slider #selectedSquareSlide
                        [max]="maxSquaresAvailable"
                        [min]="1"
                        [step]="1"
                        [thumb-label]="true"
                        [value]="selectedSquares">
                    </mat-slider>
                    <span>{{maxSquaresAvailable}}</span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" (click)="joinGame(3)">Register</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div>
        <mat-card *ngIf="isSaving">
            <mat-card-content>
                <div layout="column" layout-align="center center">
                    <h3>Saving...</h3>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>            
            </mat-card-content>
        </mat-card>

        <mat-card *ngIf="!isSaving">
            <mat-card-title-group>
                <mat-card-title>Share</mat-card-title>            
            </mat-card-title-group>
            
            <mat-card-content>
                <div>
                        <h4>Email Friends</h4>
                        <form novalidate [formGroup]="joinGridIronGameForm" (ngSubmit)="joinGame(2,true)">
                            <mat-input-container>
                                <input mdInput placeholder="Email Address" required autocomplete="off">
                            </mat-input-container>
                        </form>
                        <div>
                            <button mat-raised-button color='primary'>Email</button>
                            <button mat-raised-button color="accent">Copy Link</button>
                        </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div> 