<mat-card *ngIf="currentUser != null">
  <mat-card-title>{{userGamesLabel}}</mat-card-title>
  <mat-card-content>
      <mat-table [dataSource]="myGamesDataSource" *ngIf="!isLoadingGames">
        <ng-container matColumnDef="gameDate">
          <mat-header-cell *matHeaderCellDef>Game Date</mat-header-cell>
          <mat-cell *matCellDef="let gridGame">  
              <span>{{gridGame.game.gameDate | date :'shortDate'}}</span>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameMatchup">
          <mat-header-cell *matHeaderCellDef>Matchup</mat-header-cell>
          <mat-cell *matCellDef="let gridGame"> 
            {{gridGame.game.awayTeam.location}} vs {{gridGame.game.homeTeam.location}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameScore">
          <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
          <mat-cell *matCellDef="let gridGame"> 
            <span *ngIf="gridGame.game.score.state !== 0">
              <!-- <a [routerLink]="['/games/',gridGame.game.gameId]"> -->
                <app-score [homeTeamScore]="gridGame.game.score.homeTeamScore"
                [awayTeamScore]="gridGame.game.score.awayTeamScore">  </app-score>
            </span>            
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameTime">
          <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
          <mat-cell *matCellDef="let gridGame"> 
            <span *ngIf="gridGame.game.score.state === 1">
              {{gridGame.game.score.currentPeriod}} <br/> {{gridGame.game.score.currentTime}}
            </span>
            <span *ngIf="gridGame.game.score.state === 0">
              {{gridGame.game.gameDate | date :'shortTime'}}
            </span>
            <span *ngIf="gridGame.game.score.state === 2">Final</span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="myBoxGames">
          <mat-header-cell *matHeaderCellDef>Box Game</mat-header-cell>
          <mat-cell *matCellDef="let gridGame">
            <table>
              <tr *ngFor="let gridGame2 of gridGame.gridGames">
                <td class="boxName">
                  {{gridGame2.name}}
                </td>
              </tr>
            </table>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="myBoxes">
          <mat-header-cell *matHeaderCellDef>Boxes</mat-header-cell>
          <mat-cell *matCellDef="let gridGame">
            <table>
              <tr *ngFor="let gridGame2 of gridGame.gridGames">
                <td>{{(gridGame2.boxes | boxUserFilter : boxesByUser).length}}</td>
              </tr>
            </table>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="myWinBoxes">
            <mat-header-cell *matHeaderCellDef>Winning Boxes</mat-header-cell>
            <mat-cell *matCellDef="let gridGame">
              <table>
                <tr *ngFor="let gridGame2 of gridGame.gridGames">
                  <td>{{(gridGame2.boxes | boxUserFilter : boxesByUserWinning).length}}</td>
                </tr>
              </table>
            </mat-cell>
          </ng-container>          
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>    
  </mat-card-content>
</mat-card>
