<td-layout #layout>
  <td-navigation-drawer sidenavTitle="BetSquare"   navigationRoute="/">
  </td-navigation-drawer>
  <div td-sidenav-content>
    <app-side-nav color="primary" (onCloseSideNav)="layout.close()"></app-side-nav>
  </div>
  <td-layout-nav navigationRoute="/" toolbarTitle="BetSquares">
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <span flex></span><app-header ></app-header>
    </div>
    <router-outlet></router-outlet>
    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2017 - 2018 BetSquares. All rights reserved</span>
        <span flex></span>
        <md-icon>airplay</md-icon>
      </div>
    </td-layout-footer>
  </td-layout-nav>
</td-layout>
<span class="app-action">
  <button md-fab><md-icon>grid_on</md-icon></button>
</span>