<md-sidenav-container>
  <md-sidenav #sideNav class="app-sidenav" >
    <!-- sidenav content -->
    <app-side-nav color="primary" (onCloseSideNav)="sideNav.close()" color="accent"></app-side-nav>
  </md-sidenav>

  <div class="container" fxLayout="column" fxFill>
    <app-header (menuToggle)="sideNav.toggle()"></app-header>

    <div class="app-content" fxFlex>
      <!-- primary content -->
      <router-outlet></router-outlet>
    </div>
    
    <app-footer class="app-footer"></app-footer>
  </div>
  
</md-sidenav-container>
<span class="app-action">
  <button md-fab [routerLink]="['/games']" mdTooltip="Start a new game" mdTooltipPosition="above"><md-icon>grid_on</md-icon></button>
</span>