
.app-sidenav {
  padding: 10px;
  min-width: 200px;
}

.app-content {
  padding: 20px;
}

.app-content mat-card {
  margin: 20px;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-header {

}

.container {
  min-height: 100%;
}

.app-footer {
  height: 142px; /* .push must be the same height as .footer */
}