<!-- <app-my-games></app-my-games> -->
<p></p>
<mat-card>      
  <div fxlayout="row"  fxLayoutAlign="start center"> 
    <span *ngIf="!isSearchActive">
      <h2>Games</h2>
    </span>
    <button mat-icon-button (click)="toggleSearch()" *ngIf="!isLoadingGames">
      <mat-icon>search</mat-icon>
    </button>
    <mat-input-container *ngIf="isSearchActive" fxFlex="grow" floatPlaceholder="never" class="search-game-box">
      <input  mdInput #searchBox autocomplete="off" placeholder="Search games" (blur)="toggleSearch()" (keydown)="onSearchKeyDown($event)">
    </mat-input-container>
    <div *ngIf="gamesDetail" fxFlex fxLayoutAlign="end center">
      <mat-select placeholder="Week" floatPlaceholder="never" [(ngModel)]="selectedSchedule" class="scheduleInput">
        <mat-option *ngFor="let schedule of gamesDetail.displayPeriods" [value]="schedule.period">{{ schedule.displayPeriod }}</mat-option>
      </mat-select>
    </div>
  </div>
  <mat-card-content>
    <mat-divider *ngIf="isLoadingGames || filteredGames?.length === 0"></mat-divider>
    <div *ngIf="!isLoadingGames && filteredGames?.length === 0" fxLayout="row" fxLayoutAlign="center center">
        <h3>No games found.</h3>
    </div>
    <div *ngIf="isLoadingGames" fxLayout="column" fxLayoutAlign="center center">
        <h3>{{loadingLabel}}</h3>
        <div class="loadingProgress">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>  
    <div>
      <mat-table [dataSource]="gamesDataSource" *ngIf="!isLoadingGames">
        <ng-container matColumnDef="homeTeam">
          <mat-header-cell *matHeaderCellDef>Home</mat-header-cell>
          <mat-cell *matCellDef="let game">
              <div fxLayout="column" fxLayoutAlign="start start"><img [src]="game.homeTeam.logoUri"/>
                <span style="text-align: center">{{game.homeTeam.location}}</span></div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="awayTeam">
          <mat-header-cell *matHeaderCellDef>Away</mat-header-cell>
          <mat-cell *matCellDef="let game"> 
            <div fxLayout="column" fxLayoutAlign="start start"><img [src]="game.awayTeam.logoUri" />
            <span style="text-align: center">{{game.awayTeam.location}}</span></div></mat-cell>
        </ng-container>
        <ng-container matColumnDef="gameDate">
          <mat-header-cell *matHeaderCellDef>Time {{currentTimeZone()}}</mat-header-cell>
          <mat-cell *matCellDef="let game"><a class="gameLink" [routerLink]="['/games/',game.gameId]">{{game.gameDate | date :'shortDate'}} <br/>{{game.gameDate | date :'shortTime'}}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="join">
          <mat-header-cell *matHeaderCellDef>Join</mat-header-cell>
          <mat-cell *matCellDef="let game"><a mat-icon-button [routerLink]="['/join/game/',game.gameId]"><mat-icon>grid_on</mat-icon></a></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>