@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

html, body {
    height: 100%;
    margin: 0;
}

.last-update-time, .last-update-label {
    font-style: italic;
    font-size: 10px;
}